fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.4
python-dotenv==1.0.1
numpy==2.2.1
pandas==2.2.3
matplotlib==3.10.0
psycopg2-binary==2.9.10
pgvector==0.3.6
pymilvus==2.5.3
weaviate-client==4.10.2
requests==2.32.3
tqdm==4.67.1
sentence-transformers==3.3.1
scikit-learn==1.6.0
